.container {
    width: 100%;
    max-width: 960px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.float {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.full-w {
    width: 100%;
    max-width: 100%;
}

.full-h {
    height: 100%;
}

.grid {
    display: grid;
}

.m-right {
    margin-left: auto;
    margin-right: 0;
}

.m-left {
    margin-right: auto;
    margin-left: 0;
}

.m-center {
    margin: auto;
}

.img-desc {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 80%;
    font-style: italic;
    font-family: var(--header-font-family);
}

.align-center {
    display: block;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.large-radius {
    border-radius: 18px;
}
