@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto+Mono:wght@300&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --header-font-family: "Source Serif Pro", 'Times New Roman', Times, serif;
    --header-font-color: black;

    --h1-font-size: 2.5rem;
    --h2-font-size: 2.3rem;
    --h3-font-size: 2.1rem;

    --meta-font-family: "Roboto Mono", 'Courier New', Courier, monospace;

    --default-font-family: "Roboto Flex", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --default-font-size: 1.375rem;
    --default-font-color: #424242;
    --default-font-weight: 300;
    --default-line-height: 2.375rem;
    --default-letter-spacing: 0.006em;
}

.md {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: var(--default-font-color);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    font-family: var(--default-font-family);
    line-height: var(--default-line-height);
    letter-spacing: var(--default-letter-spacing);
    /*text-align: justify;*/
    word-wrap: break-word;
}

.md > * {
    width: 100%;
    max-width: 100%;
}

.md > p {
    --highligh-background-color: rgba(255, 255, 0, 0.4);
}

.md pre {
    width: 100%;
    padding: 16px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: rgb(1, 4, 9);
    border-radius: 12px;
    line-height: 1.4rem !important;
}

.md h1,
.md h2,
.md h3 {
    margin-top: 32px;
    margin-bottom: -22px;
    color: var(--header-font-color);
    text-align: start;
    font-weight: normal;
    font-family: var(--header-font-family);
}

.md h1 {
    font-size: var(--h1-font-size);
}

.md h2 {
    font-size: var(--h2-font-size);
}

.md h3 {
    font-size: var(--h3-font-size);
}

.md li {
    margin-left: 32px;
}

.md > p > img,
.md > p > video {
    max-width: 100%;
    margin: 32px auto;
    display: block;
}

.md img,
.md video {
    max-width: 100%;
}

.md table {
    --items-padding: 1rem;

    width: 100%;
    border-color: grey;
    border-spacing: 2px;
    border-collapse: collapse;
    text-align: left;
    vertical-align: center;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}

.md th {
    padding: var(--items-padding);
    border: none;
    font-weight: normal;
    font-family: var(--header-font-family);
}

.md td {
    padding: var(--items-padding);
    border-top: 1px solid #dee2e6;
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
}

.md code {
    padding: 0.2em 0.4em;
    color: #ececec;
    font-size: 85%;
    font-weight: 400;
    font-family: var(--header-font-family);
    white-space: break-spaces;
    border-radius: 6px;
    background-color: var(--highligh-background-color);
}

.md > pre > code {
    padding: 0;
    font-size: 1rem;
    font-family: Consolas, serif;
}